{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "browsers": "last 2 Chrome versions" } }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    // Hack because I need this for typescript, but Parcel gets wonky
    ["@babel/plugin-proposal-class-properties", {}, "babel-plugin-proposal-class-properties"],
    "react-hot-loader/babel"
  ]
}
